<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/quiz.css}">
	<title>Quiz Page</title>
</head>
<body>

	<!-- Import Navber -->
	<div th:insert="navbar.html :: navbar"></div>

	<div class="container py-5 px-4">
		<h1 class="bg-danger text-light">Only Select The Correct Answer</h1>

		<form action="submit" method="POST">
			<div class="ques-box bg-dark text-light">

			</div>
		</form>
	</div>


	<!-- Import Footer -->
	<div th:insert="footer.html :: footer"></div>

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>